.route-home {
    text-decoration: none;
    color: #6c757d;
    font-weight: 500;
}

.addproduct-heading h3 {
    font-weight: 700;
    font-size: 22px;
}

.card-headre h5 {
    font-size: 18px;
}

.route-home:hover {
    color: #0d6efd;
}

.border-dashed {
    border-style: dashed !important;
}

input,
select,
textarea {
    border-radius: 10px !important;
}

.card {
    border-radius: 15px !important;
}