.CreateInvoice-page {
    background-color: #f8f9fb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.invoice-heading h2 {
    font-size: 22px;
    font-weight: 700;
}

.CreateInvoice-page .invoice-card {
    border-radius: 20px;
    border: none;
}

.invoice-card {
    margin-top: 20px;
}

.CreateInvoice-page h4 {
    color: #222;
    font-weight: 600;
}

.CreateInvoice-page .form-label {
    font-weight: 500;
    color: #333;
}

.CreateInvoice .form-control {
    border-radius: 10px;
    font-size: 14px;
}

.invoice-table {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.invoice-table thead {
    background-color: #f4f6f9;
    color: #333;
    font-weight: 600;
}

.invoice-table th,
.invoice-table td {
    vertical-align: middle;
    text-align: center;
}

.invoice-table tbody tr:hover {
    background-color: #f9f9f9;
    transition: 0.2s;
}

.invoice-table button {
    border-radius: 50%;
    padding: 4px 6px;
}

.save-product {
    background: #f9f9f9;
    border-radius: 8px;
}

.quantity-box {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.qty-btn {
    flex: 1;
    border: none;
    background: #d3d3d3;
    font-size: 18px;
    color: #1a1a1a;
    cursor: pointer;
    padding: 5px 0;
}

.qty-input {
    width: 70px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #1a1a1a;
    background: transparent;
}

.qty-input::-webkit-inner-spin-button,
.qty-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order-summary {
    width: 100%;
}

.summary-box {
    width: 180px;
    font-size: 14px;
}

.summary-box h6 {
    color: #232323;
    font-weight: 700;
}

.summary-box span {
    color: rgb(109, 109, 109);
    font-weight: 500;
}

.summary-box p{
    color: rgb(49, 49, 49);
    font-weight: 700;
}

.summary-box .total-line strong {
    font-size: 16px;
    color: #313131;
}