.dashboard-container {
    font-family: "Inter", sans-serif;
}

/* Cards */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.card-item {
    height: 40%;
    background: #ececec;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135);
    text-align: center;
}

.card-monthly {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135);
    text-align: center;
}

.card-item p {
    color: #6b7280;
    margin-bottom: 5px;
}

.card-item h2 {
    font-weight: 700;
    margin-bottom: 5px;
}

.growth {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 13px;
}

.positive {
    background: #dcfce7;
    color: #16a34a;
}

.negative {
    background: #fee2e2;
    color: #dc2626;
}

/* Target Card */
.target-card {
    background: #ececec;
}

.target-card .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    width: 110px;
    height: 110px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.target-stats {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #bebebe;
    margin-top: 15px;
    padding-top: 10px;
}

.target-stats p {
    margin: 0;
    font-size: 13px;
    color: #6b7280;
}

/* Chart */
.chart-card {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.mothly-sales{
    margin: 0;
    height: 40%;
    background: #ececec;
    border-radius: 16px;
    padding: 20px;
}