.home-btn{
    background: #4f46e5;
    color: white;
}

.home-btn:hover {
    background: #6661ff;
    color: white;
}

.products-card {
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-heading {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.product-heading h3 {
    font-weight: 700;
    font-size: 22px;
}

.product-heading a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.products-header h5 {
    margin: 0;
    font-weight: 600;
    font-size: 25px;
}

.products-header p {
    color: #666;
    font-size: 17px;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.export-btn {
    background: white;
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 15px;
}

.add-btn {
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
}

.add-btn:hover {
    background: #6661ff;
    color: white;
}

.table-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.393);
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    max-width: 250px;
    border-radius: 8px;
}

.filter-btn {
    background: #f1f1f1;
    border-radius: 8px;
    padding: 8px 12px;
    border: none;
}

.product-cell {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}

.product-cell img {
    width: 30px;
    height: 40px;
    border-radius: 2px;
    object-fit: cover;
}

.badge {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

.in-stock {
    background: #dcfce7;
    color: #16a34a;
}

.out-stock {
    background: #fee2e2;
    color: #dc2626;
}